In [17]:
from pyspark.sql import SparkSession
from typing import Generator, List
import pandas as pd 
import os 

spark = SparkSession.builder.master("local").appName("year-taxi").getOrCreate()

# directory: Generator[str, None, None] = (f"{os.getcwd()}/data/{i}" for i in range(1, len(os.listdir(f"{os.getcwd()}/data"))))
# filename: List[str] = [f"{p}/{data}" for p in directory for data in os.listdir(p)]

In [18]:
directory: str = f"{os.getcwd()}/sparkAnaliysis/data/2020"
trip3: str = "fhvhv_tripdata_2020-03.parquet"
trip4: str = "fhvhv_tripdata_2020-04.parquet"


trip_data3 = spark.read.parquet(f"file:///{directory}/{trip3}")
trip_data3.createOrReplaceTempView('month3_data')

trip_data4 = spark.read.parquet(f"file:///{directory}/{trip4}")
trip_data4.createOrReplaceTempView('month4_data')

In [ ]:
import matplotlib.pyplot as plt 
# select * from stocks join earnings on stocks.name = earnings.name
# pickup_datetime pickup_datetime
qs = """
select 
    trip3, trip4, count(*) as trips
from
    (select 
        split(month3_data.pickup_datetime, " ")[0] as trip3, 
        split(month4_data.pickup_datetime, " ")[0] as trip4
    from 
        month3_data join month4_data on month3_data.hvfhs_license_num = month4_data.hvfhs_license_num)
group by
    trip3, trip4
"""
spark.sql(qs).show()

23/01/19 17:58:02 WARN HeartbeatReceiver: Removing executor driver with no recent heartbeats: 809851 ms exceeds timeout 120000 ms
23/01/19 17:58:02 WARN SparkContext: Killing executors is not supported by current scheduler.